{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="icon" type="image/png" href="{% static 'site/img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'site/img/favicon-16x16.png' %}" sizes="16x16" />
<!--    <link rel="stylesheet" href="{% static 'site/css/debug.css' %}" crossorigin="anonymous" />-->
    <link rel="stylesheet" href="{% static 'site/css/helpers.css' %}" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'site/css/grid.css' %}" crossorigin="anonymous" />

    <style>
.hero {
	background: black url("{% static 'site/img/higgs_domino_large.jpg' %}")
	    center / cover;
}

@media (max-width: 1024px) { .hero { background: black url("{% static 'site/img/higgs_domino_small.jpg' %}") center / cover; } }
@media (max-width:  768px) { .hero { background: black url("{% static 'site/img/higgs_domino_small.jpg' %}") center / cover; } }
    </style>
</head>
<body>

    <section class="hero is-fullheight">
    	<div class="hero-head">
            <div class="columns is-mobile is-marginless heading has-text-weight-bold">
                <div class="column left">
                    <figure class="navbar-item image">
                        <img src="https://assets-global.website-files.com/5e6b63ac3b6e253f11889f39/60acf4cc122cf007e4b622fa_teslalogo.svg" style="width: 6.25rem; height: 1rem;">
                    </figure>
                </div>
                <div class="column center desktop">
                    <p class="navbar-item has-text-black">MODEL S </p>
                    <p class="navbar-item has-text-black">MODEL X </p>
                    <p class="navbar-item has-text-black">MODEL 3 </p>
                    <p class="navbar-item has-text-black">ROADSTER</p>
                    <p class="navbar-item has-text-black">ENERGY  </p>
                </div>
                <div class="column right">
                    <p class="navbar-item desktop has-text-black">SHOP     </p>
                    <p class="navbar-item desktop has-text-black">SIGN IN  </p>
                    <figure class="navbar-item image center">
                        <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
                    </figure>
                </div>
            </div>
        </div>
        <!-- .hero-body -->
        <section class="hero-body">
            <div class="is-overlay has-text-centered single-spaced" style="top: 82px; ">
                <h1 class="subtitle is-4 has-text-black">STORE</h1>
                <h2 class="title is-1 has-text-black">TOMTOM</h2>
                <p class="subtitle is-5 has-text-centered has-text-white">
                    AGEN CHIPS AMANAH & TERPERCAYA
                </p>
            </div>
        </section>

        <section class="section mt-6">
            <div class="container">
                <div class="columns is-vcentered reverse-columns">
                    <div class="column" data-aos="fade-down">
                        <article class="media notification is-warning">
                                <figure class="media-left">
                                    <span class="icon is-medium">
                                        <i class="fab fa-2x fa-css3-alt"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Ready Stock Higgs dominonya, Yang mau BONGKAR ayo kita gasskan !!!!
                                            <br></br>
                                            Jangan Tergiur Harga murah Tapi Menipu</h1>
                                    </div>
                                </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="media notification is-info">
                                <figure class="media-left">
                                    <span class="icon is-medium">
                                        <i class="fab fa-2x fa-css3-alt"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">HARGA</h1>
                                        <table class="table has-background-light">
                                            <thead>
                                                <tr>
                                                    <th><abbr title="Position">Jumlah</abbr></th>
                                                    <th><abbr title="Played">Harga (Rp)</abbr></th>
                                                    <th><abbr title="Position">Jumlah</abbr></th>
                                                    <th><abbr title="Played">Harga (Rp)</abbr></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100 M</td>
                                                    <td>8.000</td>
                                                    <td>600 M</td>
                                                    <td>42.000</td>
                                                </tr>
                                                <tr>
                                                    <td>200 M</td>
                                                    <td>15.000</td>
                                                    <td>700 M</td>
                                                    <td>50.000</td>
                                                </tr>
                                                <tr>
                                                    <td>300 M</td>
                                                    <td>23.000</td>
                                                    <td>800 M</td>
                                                    <td>57.000</td>
                                                </tr>
                                                <tr>
                                                    <td>400 M</td>
                                                    <td>30.000</td>
                                                    <td>1 B</td>
                                                    <td>65.000</td>
                                                </tr>
                                                <tr>
                                                    <td>500 M</td>
                                                    <td>35.000</td>
                                                    <td>1.5 B</td>
                                                    <td>100.000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-desktop">

                <div class="columns is-vcentered reverse-columns">
                    <div class="column is-half is-offset-one-quarter" data-aos="fade-down">
                        <article class="media notification is-warning">
                                <figure class="media-left">
                                    <span class="icon is-medium">
                                        <i class="fab fa-2x fa-css3-alt"></i>
                                    </span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">ALUR PEMBELIAN</h1>
                                        <figure class="image is-4by3">
                                            <img src="{% static 'site/img/alur_beli.png' %}">
                                        </figure>
                                    </div>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div id="testimoniapp">
                <div class="columns">
                     {% for testimoni in testimonis %}
                        <div class="column is-half is-offset-one-quarter">
                            {% if testimoni.picture %}
                                <img src={{ testimoni.picture_thumbnail.url }}>
                            {% endif %}
        <!--                    {% if testimoni.picture.all %}-->
        <!--                        <hr>-->
        <!--                        <div class="columns">-->
        <!--                            <div class="column is-2" v-for="image in images">-->
        <!--                                <figure class="image is-128x128">-->
        <!--                                    <img src={{ testimoni.picture_thumbnail.url }} @click="changeMainImage(image.image)">-->
        <!--                                </figure>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    {% endif %}-->
                            {% if product.image %}
                                <img :src="mainImage">
                            {% endif %}
                            <hr>
                            {% if product.images.all %}
                                <hr>
                                <div class="columns">
                                    <div class="column is-2" v-for="image in images">
                                        {% if image.thumbnail %}
                                            <figure class="image is-128x128">
                                                <img :src="image.thumbnail" @click="changeMainImage(image.image)">
                                            </figure>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <hr>





                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <!-- .hero-foot -->
        <main class="hero-foot center" style="padding: 2rem;">
            <div id="grid" style="width: 768px;">
                <div id="a" class="center-column">
                    <p class="has-text-centered has-text-white">
                        ​The quickest car in the world, with record-setting<br>
                        acceleration, range and performance.
                    </p>
                </div>
                <div id="b" class="center-column">
                    <p class="title has-text-white">
                        <i class="fas fa-tachometer-alt has-text-grey-light"
                            style="width: 0.75em; height: 0.75em;"></i>
                        1.9<span class="is-size-5">s</span>
                    </p>
                    <p class="subtitle has-text-white is-7">0-60 mph</p>
                </div>
                <div id="c" class="center-column" style="border-left: 1px solid gray;">
                    <p class="title has-text-white"><span class="is-size-5">+</span>250<span class="is-size-5">mph</span></p>
                    <p class="subtitle is-7 has-text-white">Top Speed</p>
                </div>
                <div id="d" class="center-column" style="border-left: 1px solid gray;">
                    <p class="title has-text-white">620</span><span class="is-size-5">mi</span></p>
                    <p class="subtitle is-7 has-text-white">Mile Range</p>
                </div>
                <div id="e" class="center-column">
                    <a class="button is-danger is-inverted is-rounded is-outlined has-text-weight-bold"
                        style="width: 100%; border: 0.15em solid white;">
                        Reserve Now
                    </a>
                </div>
            </div>
        </main>
        <!-- /.hero-foot -->
    </section>

    <!-- /javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- /javascript -->

    <!-- /vue -->
    <script>
        var testimoniapp = new Vue({
            el: '#testimoniapp',
            delimiters: ['[[', ']]'],
            data () {
                return {
                    images: [{{ imagesstring|safe }}],
                }
            },
            methods: {
                changeMainImage(image) {
                    this.mainImage = image;
                },
            },
        });
    </script
    <!-- /vue-->

</body>
</html>