{% extends "base.html" %}
{% load i18n static %}

{% block title %} Home | {% endblock %}

{% block content %}

    <!-- .hero-body -->
    <section class="section">

        <h1 class="title has-text-centered is-size-4 is-size-5-mobile is-paddingless">PRODUK</h1>
        {% include 'store/store_list.html' %}

        {% include 'store/paginator.html' %}

        <div class="box">
            <div class="columns is-centered is-multiline">
                <div class="column is-one-third has-text-centered p-5">
                    <span class="icon has-text-primary is-medium">
                        <i class="fa-solid fa-3x fa-circle-check"></i>
                    </span>
                    <p class="subtitle is-size-4 is-size-5-mobile has-text-black has-text-centered is-marginless mt-2">
                        <strong>Order Mudah</strong><br>
                    </p>
                    <p class="has-text-black has-text-centered is-marginless mt-4">Order cepat tanpa ribet langsung melalui whatsapp.</p>
                </div>
                <div class="column is-one-third has-text-centered p-5">
                    <span class="icon has-text-primary is-medium">
                        <i class="fas fa-3x fa-gauge-simple-high"></i>
                    </span>
                    <p class="subtitle is-size-4 is-size-5-mobile has-text-black has-text-centered is-marginless mt-2">
                        <strong>Respon Cepat</strong><br>
                    </p>
                    <p class="has-text-black has-text-centered is-marginless mt-4">Kami siap melayani dan merespons order Anda dengan cepat.</p>
                </div>
                <div class="column is-one-third has-text-centered p-5">
                    <span class="icon has-text-primary is-medium">
                        <i class="fa-solid fa-3x fa-certificate"></i>
                    </span>
                    <p class="subtitle is-size-4 is-size-5-mobile has-text-black has-text-centered is-marginless mt-2">
                        <strong>Terpercaya</strong><br>
                    </p>
                    <p class="has-text-black has-text-centered is-marginless mt-4">Agen chip yang sudah terbukti dengan banyak pelanggan tetap.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-offset-one-quarter">
                    <article class="media box is-white">
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title has-text-centered is-size-4 is-size-5-mobile">HARGA</h1>
                                    <table class="table has-background-white is-size-7-mobile has-text-centered">
                                        <thead>
                                            <tr>
                                                <th><abbr title="Position">Jumlah</abbr></th>
                                                <th><abbr title="Played">Harga (Rp)</abbr></th>
                                                <th><abbr title="Position">Jumlah</abbr></th>
                                                <th><abbr title="Played">Harga (Rp)</abbr></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>100 M</td>
                                                <td>8.000</td>
                                                <td>600 M</td>
                                                <td>42.000</td>
                                            </tr>
                                            <tr>
                                                <td>200 M</td>
                                                <td>15.000</td>
                                                <td>700 M</td>
                                                <td>50.000</td>
                                            </tr>
                                            <tr>
                                                <td>300 M</td>
                                                <td>23.000</td>
                                                <td>800 M</td>
                                                <td>57.000</td>
                                            </tr>
                                            <tr>
                                                <td>400 M</td>
                                                <td>30.000</td>
                                                <td>1 B</td>
                                                <td>65.000</td>
                                            </tr>
                                            <tr>
                                                <td>500 M</td>
                                                <td>35.000</td>
                                                <td>1.5 B</td>
                                                <td>100.000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="columns is-vcentered reverse-columns">
                <div class="column is-half is-offset-one-quarter">
                    <article class="media box is-white">
                        <div class="content">
                            <h1 class="title has-text-centered is-size-4 is-size-5-mobile">ALUR BELI</h1>
                            <img src="{% static 'site/img/alur_beli.png' %}">
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-max-desktop">
            <div class="columns is-multiline is-vcentered">
                <div class="column is-half is-offset-one-quarter">
                    <article class="media box is-white">
                            <div class="media-content">
                                <div class="content has-text-centered">
                                    <h1 class="title has-text-centered is-size-4 is-size-5-mobile">TESTIMONI</h1>
                                    <img :src="mainImage" style="width:300px; height:450px;" >
                                    <div class="has-text-centered icons">
                                        <span class="icon" v-for="testimoni in testimonis" @click="changeMainImage(testimoni.picture)">
                                            <i class="fas fa-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- .hero-body -->

    <input-form @change-visible="changeVisible" :visible="visible"></input-form>

{% endblock %}